.logoLandingBG {
  width: 100%;
  height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding: 1rem;
}

.navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .login-button, .login .login-button {
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 12px 40px;
	display: inline-block;
	margin-left: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
    color: #fff;
	background: #226fbe;
    border: 4px solid #226fbe;
	border-radius: 60px;
}

