.vertical-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: left;
    background-color: #ffffff;
    color: #555555;
    width: auto;
    max-width: 18rem;
    max-height: none;
    height: fit-content;
    border-radius: 15px;
    margin: 25px 40px 25px 25px;
}

.icon::before {
  display: inline-block;
  align-items: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.icon-dashboard::before{
    font: var(--fa-font-solid);
    content: '\f029';
}

.icon-calendar::before{
    font: var(--fa-font-regular);
    content: '\f133';
}

.icon-progress::before{
    font: var(--fa-font-solid);
    content: '\e0e3';
}

.icon-user::before{
    font: var(--fa-font-solid);
    content: '\f013';
}

.nav-button::before {
    position: relative;
    align-items: center;
    height: 100%;
    line-height: 1;
    font-size: 120%;
    width: 40px;
    top: 2px;
    left: 10px;
}



.vertical-navbar .nav-button{
    padding: 5px 20px 10px 5px;
    margin: auto;
    min-width: 70%;
    width: 80%;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: left;
    justify-self: left;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 350;
}

.vertical-navbar .spacing-line{
    width: 100%;
    padding-top: 10px;
    margin-top: 20px;
    border-top: 2px solid #0000005b;
    border-radius: 0;
}

.nav-button:hover {
  background: #5aade0;
  background-clip: padding-box;
  border-radius: 18px;
}

.vertical-navbar h3{
    text-align: left;
    font-weight: 700;
    color: black;
    width: 90%;
}